$emergency-info-bar-height: 46px;
$emergency-info-bar-box-width: 1000px;
$title-container-width: 150px;
$content-container-width: $emergency-info-bar-box-width - $title-container-width;

.news-bar-container {
  width: 100%;
  height: $emergency-info-bar-height;
  padding: 20px 0;
  background-color: #eee;
  display: flex;
  justify-content: center;

  & .news-bar-box {
    width: $emergency-info-bar-box-width;
    height: 100%;
    display: flex;

    & .news-bar.title-container {
      width: $title-container-width;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: skyblue;

      & .news-bar.title-icon {
        color: white;
      }

      & .news-bar.title-text {
        color: white;
      }
    }

    & .news-bar.content-container {
      box-sizing: border-box;
      width: $content-container-width;
      height: 100%;
      padding: 11px;
      background-color: white;
      display: flex;
      align-items: center;

      & .news-bar.content-text {
        font-size: 16px;
        line-height: 1.5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
