$news-bar-height: 46px;
$news-bar-box-width: 1000px;
$title-container-width: 150px;

.news-bar-container {
  width: 100%;
  height: $news-bar-height;
  padding: 20px 0;
  background-color: #eee;
  display: flex;
  justify-content: center;

  & .news-bar-box {
    width: $news-bar-box-width;
    height: 100%;
    display: flex;

    & .news-bar.title-container {
      width: $title-container-width;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: skyblue;

      & .news-bar.title-icon {
        color: white;
      }

      & .news-bar.title-text {
        color: white;
      }
    }
  }
}
