* {
  margin: 0;
  padding: 0;
}

header {
  margin: 0%;
  width: 100%;
}

header .navbar-container {
  margin: 15px auto;
  width: 1000px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin: 10px;
  height: 130px;
}

header .search-bar {
  margin: auto 10px 10px 0;
  width: 400px;
}

header .search-textbox,
.search-btn {
  /* ユーザーエージェントスタイルシートをリセット */
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  appearance: none;

  /* 高さに影響するプロパティが同じ値であることを確認 */
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em var(--padding-x);
  border: 1px solid #999;
  border-radius: 5px;

  box-sizing: border-box;
}

.search-textbox {
  --padding-x: 0.5em;
  width: 80%;
}

.search-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --padding-x: 1.2em;
  background: skyblue;
  cursor: pointer;
}

.slide {
  max-height: 578px;
  height: 100%;
  width: 100%;
}

.slide-items {
  position: relative;
}

.slide-items img {
  margin: 0 auto;
}

.slide-arrow {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  font-size: 50px;
  width: 0.8em;
  height: 0.8em;
  border: 0.075em solid currentColor;
  background: currentColor;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 10;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

